#age_okay_container #age_okay_inner {
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%,50%);
	margin: 0;
}

/*#age_okay_container #age_okay_inner .age_okay_input_container .age_okay_input_text {
	position: static;
	margin: 0;
	padding: 0.7em;
	width: 60px;
	height: auto;
}

#age_okay_container #age_okay_inner .age_okay_input_container .age_okay_date_input_span.age_okay_input_year_span + .age_okay_input_text {
	min-width: 80px;
}

#age_okay_container #age_okay_inner .age_okay_input_container .age_okay_date_input_container {
	text-align: center;
}

#age_okay_container #age_okay_inner .age_okay_input_container .age_okay_date_input_span {
	visibility: visible;
	padding-top: 0;
	display: block;
}*/
