.age_okay_red {
	color: red !important;
}

.age_okay_tooltip {
	position: relative;
}

.age_okay_tooltip .age_okay_tooltip_text {
	visibility: hidden;
	max-width: 100%;
	display: inline-block;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
}

.age_okay_tooltip:hover .age_okay_tooltip_text {
	visibility: visible;
}

.wrap > h2:first-child {
	margin-bottom: 20px;
}

.wrap > h2:first-child:empty {
	display: none;
}

#age_okay_wrap {
	margin-top: 20px;
	padding: 20px 25px;
	background: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}

#age_okay_wrap > h1 {
	padding-top: 0px;
}

#age_okay_iframe {
	max-width: 100%;
	width: 100%;
	height: 80vh;
	background-color: #ffffff;
}

.age_okay_hidden {
	display: none;
}

#age_okay_editor_td *,
#age_okay_editor_td *:before,
#age_okay_editor_td *:after,
.age_okay_settings *,
#age_okay_docs_container * {
	box-sizing: border-box;
}

#age_okay_editor_td .wp-picker-container,
#age_okay_editor_td .wp-picker-container *,
#age_okay_editor_td .wp-picker-container *:before,
#age_okay_editor_td .wp-picker-container *:after {
	box-sizing: initial;
}

#age_okay_editor_td {
	width: 100%;
	transition-duration: .4s;
	overflow: hidden;
	position: relative;
}

#age_okay_editor {
	top: 0;
	left: 0;
	margin-bottom: 20px;
	position: relative;
	background-color: #c3c3c3;
	overflow: hidden;
    width: 100%;
}

#age_okay_editor_content {
	height: 100%;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-: column;
}

#age_okay_editor_inner {
	/*-ms-flex: 1;
	flex: 1;*/
    overflow: hidden;
    overflow-y: auto;
}

#age_okay_editor_title {
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	line-height: 1;
	margin: 0;
	background-color: #d8d8d8;
    box-shadow: inset 0 1px 0 rgb(216, 216, 216), inset 0 -1px 0 rgb(173, 173, 173), 0 1px 0 rgba(10,13,25,0.02);
}

#age_okay_editor_title_status {
	font-weight: 400;
}

#age_okay_hamburger {
	z-index: 200;
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	padding: 5px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: .15s;
	transition-property: opacity,filter;
}

#age_okay_hamburger #age_okay_hamburger_container {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 24px;
}

#age_okay_hamburger #age_okay_hamburger_inner:before {
	top: -8px;
	transition-property: top, opacity;
}

#age_okay_hamburger #age_okay_hamburger_inner:after {
	bottom: -8px;
	transition-property: bottom, transform;
}

#age_okay_hamburger #age_okay_hamburger_inner:before,
#age_okay_hamburger #age_okay_hamburger_inner:after {
	transition-delay: .1s;
	transition-timing-function: linear;
	transition-duration: 0s;
	display: block;
	content: "";
}
	
#age_okay_hamburger #age_okay_hamburger_inner,
#age_okay_hamburger #age_okay_hamburger_inner:before,
#age_okay_hamburger #age_okay_hamburger_inner:after {
	position: absolute;
	width: 28px;
	height: 3px;
	transition-timing-function: ease;
	transition-duration: .15s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #fff;
}

#age_okay_hamburger #age_okay_hamburger_inner {
	transition-timing-function: cubic-bezier(.19,1,.22,1);
	transition-duration: .2s;
	top: 50%;
	display: block;
	margin-top: -2px;
}

#age_okay_hamburger.age_okay_active #age_okay_hamburger_inner {
	transition-timing-function: cubic-bezier(.19,1,.22,1);
	transform: rotate(765deg);
}

#age_okay_hamburger.age_okay_active #age_okay_hamburger_inner:before {
	top: 0;
	opacity: 0;
	transition-delay: 0s;
}

#age_okay_hamburger.age_okay_active #age_okay_hamburger_inner:after {
	bottom: 0;
	transform: rotate(90deg);
	transition-delay: 0s;
}

#age_okay_editor_buttons,
.age_okay_editor_buttons_up {
	text-align: center;
}

#age_okay_editor_buttons button {
	border-radius: .25rem;
    border: 1px solid transparent;
	-webkit-appearance: button;
    outline: none;
    background: #81b1c0;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: not-allowed;
    margin: 10px 20px;
}

#age_okay_editor_buttons .age_okay_editor_button_save {
	background: #98c093;
}

#age_okay_editor_buttons.age_okay_active button {
	cursor: pointer;
	background: #007bff;
	border-color: #007bff;
}

#age_okay_editor_buttons.age_okay_active button:hover {
	background: #0062cc;
	border-color: #005cbf;
}

#age_okay_editor_buttons.age_okay_active .age_okay_editor_button_save {
	background: #28a745;
	border-color: #28a745;
}

#age_okay_editor_buttons.age_okay_active .age_okay_editor_button_save:hover {
	background: #218838;
	border-color: #1e7e34;
}

.age_okay_editor_buttons_up button {
	border-radius: .25rem;
    border: 1px solid transparent;
	-webkit-appearance: button;
    outline: none;
    background: #007bff;
	border-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 20px;
}

.age_okay_editor_buttons_up button:hover {
	background: #0062cc;
	border-color: #005cbf;
}

.age_okay_editor_buttons_up .age_okay_editor_button_image_remove {
	background: #dc3545;
	border-color: #dc3545;
}

.age_okay_editor_buttons_up .age_okay_editor_button_image_remove:hover {
	background: #bd2130;
	border-color: #b21f2d;
}

.age_okay_editor_labels {
	cursor: pointer;
	margin: 0;
	float: left;
	width: 100%;
	font-weight: 600;
	font-size: 13px;
	padding: 5px 15px;
	background-color: rgba(255,255,255,0.18);
	border-top: 1px solid rgba(10,13,25,0.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6), inset 0 -1px 0 rgba(10,13,25,0.12), 0 1px 0 rgba(10,13,25,0.02);
}

.age_okay_editor_options {
	padding: 10px;
	float: left;
	width: 100%;
	display: none;
}

section.age_okay_active > .age_okay_editor_options {
	display: block;
}

.age_okay_editor_options .age_okay_label {
	display: block;
}

.button.wp-color-result {
	padding-right: 1px !important;
}

.age_okay_slider_container {
	position: relative;
	margin: 10px 0px;
}

.age_okay_slider_display {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 3px;
}

input[type=range].age_okay_slider {
	background: transparent;
	position: relative;
	z-index: 2;
	margin: 0;
	-webkit-appearance: none;
	width: 100%;
	padding: 15px;
}

input[type=range].age_okay_slider:focus {
	outline: none;
}

input[type=range].age_okay_slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	background: #000000;
	border-radius: 5px;
	border: 1px solid #ffffff;
}

input[type=range].age_okay_slider::-webkit-slider-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	border: 1px solid #000000;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.5px;
}

input[type=range].age_okay_slider:focus::-webkit-slider-runnable-track {
	background: #000000;
}

input[type=range].age_okay_slider::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	background: #000000;
	border-radius: 5px;
	border: 1px solid #ffffff;
}

input[type=range].age_okay_slider::-moz-range-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	border: 1px solid #000000;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range].age_okay_slider::-ms-track {
	width: 100%;
	height: 20px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range].age_okay_slider::-ms-fill-lower {
	background: #000000;
	border: 1px solid #ffffff;
	height: 10px;
	border-radius: 10px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
}

input[type=range].age_okay_slider::-ms-fill-upper {
	background: #000000;
	border: 1px solid #ffffff;
	height: 10px;
	border-radius: 10px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
}

input[type=range].age_okay_slider::-ms-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 25px;
	background: #ffffff;
	cursor: pointer;
	margin-top: 0;
}

input[type=range].age_okay_slider:focus::-ms-fill-lower {
	background: #000000;
}

input[type=range].age_okay_slider:focus::-ms-fill-upper {
	background: #000000;
}

#age_okay_editor_content section textarea {
	width: 100%;
	height: 75px;
}

.age_okay_image {
	max-width: 100%;
}

.age_okay_image_uploader {
	text-align: center;
}

.age_okay_cookie_inputs {
	width: 40%;
	vertical-align: middle;
}

.age_okay_discard_section #age_okay_editor_button_discard {
	background: #dc3545;
	border-color: #dc3545;
}

.age_okay_discard_section #age_okay_editor_button_discard:hover {
	background: #bd2130;
	border-color: #b21f2d;
}

.age_okay_discard_section .age_okay_editor_labels {
	color: #e20000;
}

#age_okay_editor_table,
.age_okay_lang_container,
.age_okay_settings {
	width: 100%;
	border-top: 1px solid #bfbfbf;
	padding-top: 30px;
}

#age_okay_default_lang,
#age_okay_second_lang {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

#age_okay_default_lang {
	padding-right: 20px;
}

#age_okay_second_lang {
	padding-left: 20px;
}

#age_okay_lang_switch_container {
	display: block;
	width: 100%;
}

.age_okay_form_group {
	margin-bottom: 15px;
}

#age_okay_editor_inner .age_okay_form_group {
	margin-bottom: 0;
}

#age_okay_editor_inner .age_okay_form_margin {
	margin-bottom: 10px;
}

#age_okay_editor_inner .age_okay_form_info {
	margin-top: -5px;
	display: block;
	margin-bottom: 5px;
	font-style: italic;
}

.age_okay_form_label {
	display: block;
	max-width: 100%;
}

.age_okay_form_label > span:first-child {
	font-weight: 700;
	margin-bottom: 5px;
	display: block;
}

.age_okay_form_label input:not([type=radio]):not([type=checkbox]),
.age_okay_form_label select,
.age_okay_form_label textarea {
	margin: 0;
	display: block;
	width: 100%;
	max-width: none;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.age_okay_form_label textarea,
.age_okay_post_holder {
	height: 75px !important;
}

.age_okay_form_input_group {
	display: inline-table;
	vertical-align: middle;
	width: 100%;
}

.age_okay_form_input_group * {
	display: table-cell !important;
}

.age_okay_form_input_group input {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right: 0 !important;
}

.age_okay_form_input_group span {
	vertical-align: middle;
	padding: 6px 2px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.age_okay_form_input_group .age_okay_input_50l {
	width: 50% !important;
	border-radius: 4px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	display: inline-block !important;
	height: 34px !important;
    padding: 0 6px !important;
}

.age_okay_form_input_group .age_okay_input_50r {
	width: 50% !important;
	border-radius: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	display: inline-block !important;
	height: 34px !important;
    padding: 0 6px !important;
}

.age_okay_settings_list {
	list-style: outside;
	padding-left: 18px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #bfbfbf;
}

.age_okay_settings input[type=radio],
.age_okay_settings input[type=checkbox],
#age_okay_editor_inner input[type=radio],
#age_okay_editor_inner input[type=checkbox] {
	margin: 5px 5px 5px 0;
	vertical-align: middle;
}

.age_okay_settings label span,
#age_okay_editor_inner label span {
	vertical-align: middle;
}

#age_okay_default_lang .age_okay_form_group {
	opacity: 0.8;
} 

#age_okay_default_lang input,
#age_okay_default_lang select,
#age_okay_default_lang textarea {
	cursor: not-allowed;
}

#age_okay_lang_switch_container * {
	vertical-align: baseline;
}

.age_okay_lang_buttons {
	-webkit-appearance: button;
    outline: none;
    border: none;
    background: #008cba;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 20px;
}

.age_okay_lang_buttons.age_okay_lang_save,
.age_okay_settings_save {
	margin-left: 0;
}

.age_okay_lang_buttons.age_okay_lang_remove {
	background: #c52a31;
	margin-left: 0;
	margin-right: 0;
}

.age_okay_post_select option:enabled {
	color: #000000;
}

.age_okay_post_holder {
	padding: 0;
	border: 0;
	background: transparent;
	margin-top: 5px;
	box-shadow: none;
	height: auto !important;
	max-height: 185px;
	overflow: auto;
	cursor: default;
}

.age_okay_post_holder:empty {
	display: none;
}

.age_okay_post_holder > span {
	border: 1px solid #cccccc;
	float: left;
	padding: 2px 5px;
	border-radius: 5px;
	background: #fbfbfb;
	color: #000000;
	margin-right: 5px;
	margin-bottom: 5px;
	word-break: break-all;
	word-break: break-word;
}

.age_okay_post_holder .age_okay_post_remove {
	padding: 0;
	float: right;
	margin: 0;
	margin-left: 10px;
	color: #ff0000;
	font-weight: 700;
	cursor: pointer;
}

#age_okay_docs_table {
	padding-top: 10px;
	width: 100%;
	border-top: 1px solid #bfbfbf;
}

#age_okay_docs_content {
	width: 70%;
	height: 1000px;
	vertical-align: top;
	padding: 0px;
}

#age_okay_docs_content p {
	word-break: break-word;
}

#age_okay_docs_nav {
	vertical-align: top;
	position: relative;
}

.age_okay_docs_nav_box {
	margin: 0 0 0 20px;
	position: sticky;
	padding: 20px;
	top: 30px;
	background: #ffffff;
	border-radius: 5px;
}

.age_okay_docs_nav_box p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
}

.age_okay_docs_nav_box a {
	display: block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.age_okay_docs_nav_box.age_okay_docs_nav_mobile {
	display: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	position: static;
}

.age_okay_img_center {
	text-align: center;
}

@media (min-width: 769px) {
	#age_okay_editor_table {
		display: table;
	}

	#age_okay_editor_td,
	#age_okay_editor_iframe_td {
		display: table-cell;
	}

	#age_okay_editor_iframe_td {
		padding-right: 20px;
	}

	#age_okay_editor_tr {
		display: table-row;
	}

	#age_okay_editor_td {
		width: 10px;
		min-width: 37px;
	}

	#age_okay_editor_td.age_okay_active {
		width: 350px;
	}

	#age_okay_editor {
		margin-bottom: 0;
		height: 80vh;
		position: absolute;
		width: 350px;
		padding-left: 50px;
	}
	
	#age_okay_editor_inner {
		height: calc( 100% - 100px );
		-ms-flex: 1;
		flex: 1;
	}

	#age_okay_editor_td.age_okay_active #age_okay_editor {
		padding-left: 0;
		width: 350px;
	}
	
	#age_okay_mobile_check {
		width: 1px;
	}
}

@media (max-width: 768px) {
	#age_okay_wrap {
		padding: 10px;
	}
	
	#age_okay_editor_td #age_okay_editor_buttons,
	#age_okay_editor_td #age_okay_editor_inner {
		display: none;
	}
	
	#age_okay_editor_td.age_okay_active #age_okay_editor_buttons,
	#age_okay_editor_td.age_okay_active #age_okay_editor_inner {
		display: block;
	}
	
	.age_okay_tooltip {
		border-bottom: 1px dotted #84878a;
		cursor: pointer;
	}
	
	.age_okay_tooltip:hover .age_okay_tooltip_text {
		display: none;
	}
	
	.age_okay_tooltip.age_okay_tooltip_active:hover .age_okay_tooltip_text {
		display: block !important;
	}

	#age_okay_default_lang {
		padding-right: 5px;
	}

	#age_okay_second_lang {
		padding-left: 5px;
	}

	.age_okay_docs_nav_box.age_okay_docs_nav_mobile {
		display: block;
	}
	
	#age_okay_docs_nav {
		display: none;
	}
	
	#age_okay_mobile_check {
		width: 0px;
	}
}

.age-okay_page_age-okay-pro #age_okay_docs_container {
	border-top: 1px solid #bfbfbf;
	width: 100%;
}

section#age_okay_pro_table {
	padding-top: 20px;
	width: 100%;
	max-width: 1000px;
	position: relative;
	margin-bottom: 20px;
}

#age_okay_pro_table td {
	background: #f9f9f9;
}

#age_okay_pro_table ul {
	display: flex;
	top: 0px;
	z-index: 10;
	padding-bottom: 14px;
}

#age_okay_pro_table li {
	list-style:none;
	flex:1;
}

#age_okay_pro_table li:last-child {
	border-right:1px solid #DDD;
}

#age_okay_pro_table button {
	width: 100%;
	border: 1px solid #DDD;
	border-right: 0;
	padding: 10px;
	background: #f5f5f5;
	font-size: 14px;
	font-weight: bold;
	height: 60px;
	color: #5f5f5f;
}

#age_okay_pro_table li.age_okay_pro_active button {
	background: #FFF;
	color: #000;
}

#age_okay_pro_table table { 
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

#age_okay_pro_table th {
	background: #FFF; 
	display: none;
}

#age_okay_pro_table td, #age_okay_pro_table th {
	height: 53px;
	border: 1px solid #DDD;
	padding: 10px;
	empty-cells: show;
	text-align: left;
}

#age_okay_pro_table td+td, #age_okay_pro_table th+th {
	text-align: center;
	display: none;
}

#age_okay_pro_table td.age_okay_pro_default {
	display: table-cell;
}

#age_okay_pro_table .age_okay_pro_txt, #age_okay_pro_table .age_okay_pro_txtb {
	font-size: 28px;
}

#age_okay_pro_table .age_okay_pro_txtb {
	font-weight: bold;
}

#age_okay_pro_table .age_okay_pro_tick {
	font-size: 18px;
	color: #2CA01C;
}

#age_okay_pro_table .age_okay_pro_hide {
	border: 0;
	background: none !important;
}

@media (min-width: 640px) {
	#age_okay_pro_table ul {
		display: none;
	}
	
	#age_okay_pro_table td, #age_okay_pro_table th {
		display:table-cell !important;
		width: 430px;
	}
	
	#age_okay_pro_table td+td, #age_okay_pro_table th+th {
		width: auto;
	}
}
